performer_flow.json
[{"id":"e8b52aa2.b86538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7b5ab72.270f38","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"45dcbdbc.f0a7c4","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"4cc5deff.c20cf","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.googleapis.com/youtube/v3/channels?part=snippet%2Cstatistics&forUsername=GoogleDevelopers&key=AIzaSyDvhYY38598T924njFzcwYjNwfenDYkUYI","tls":"","proxy":"","authType":"basic","x":330,"y":180,"wires":[["5c991eb8.58c59"]]},{"id":"8d61add.fc07d5","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":80,"wires":[]},{"id":"f95a897.fd07c78","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["b04ec2d1.5e113"]]},{"id":"5c991eb8.58c59","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":490,"y":180,"wires":[["8d61add.fc07d5","47095d64.010954"]]},{"id":"aa3431f2.c7285","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"channels","operation":"insert","upsert":false,"multi":false,"x":1100,"y":320,"wires":[["76755137.1a21"]]},{"id":"47095d64.010954","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"channel","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.id","pt":"msg","to":"channel.items[0].id","tot":"msg"},{"t":"set","p":"payload.title","pt":"msg","to":"channel.items[0].snippet.title","tot":"msg"},{"t":"set","p":"payload.thumbnail","pt":"msg","to":"channel.items[0].snippet.thumbnails.medium.url","tot":"msg"},{"t":"set","p":"payload.subscriberCount","pt":"msg","to":"channel.items[0].statistics.subscriberCount","tot":"msg"},{"t":"set","p":"payload.videoCount","pt":"msg","to":"channel.items[0].statistics.videoCount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["a9e14131.90ca4"]]},{"id":"76755137.1a21","type":"debug","z":"e8b52aa2.b86538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":260,"wires":[]},{"id":"a9e14131.90ca4","type":"function","z":"e8b52aa2.b86538","name":"typeDataChange()","func":"if (msg.payload.subscriberCount) {\n    msg.payload.subscriberCount = parseInt(msg.payload.subscriberCount);\n}\n\nif (msg.payload.videoCount) {\n    msg.payload.videoCount = parseInt(msg.payload.videoCount);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":260,"wires":[["aa3431f2.c7285"]]},{"id":"b712d17f.f86e9","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.googleapis.com/youtube/v3/commentThreads?part=snippet%2Creplies&maxResults=100&pageToken={{msg.nextPageToken}}=mX7VY5wdfhY&key=AIzaSyDvhYY38598T924njFzcwYjNwfenDYkUYI","tls":"","proxy":"","authType":"basic","x":310,"y":500,"wires":[["3f57e851.874f58"]]},{"id":"34e2541.49131ac","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["b712d17f.f86e9"]]},{"id":"3f57e851.874f58","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":470,"y":500,"wires":[["8182aef5.e8634"]]},{"id":"c461c9f1.2bd3f8","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videos","operation":"insert","upsert":false,"multi":false,"x":1080,"y":640,"wires":[["c5fdcd00.7713d"]]},{"id":"8182aef5.e8634","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"video","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.id","pt":"msg","to":"video.items[0].id","tot":"msg"},{"t":"set","p":"payload.publishedAt","pt":"msg","to":"video.items[0].snippet.publishedAt","tot":"msg"},{"t":"set","p":"payload.title","pt":"msg","to":"video.items[0].snippet.title","tot":"msg"},{"t":"set","p":"payload.thumbnail","pt":"msg","to":"video.items[0].snippet.thumbnails.medium.url","tot":"msg"},{"t":"set","p":"payload.channelTitle","pt":"msg","to":"video.items[0].snippet.channelTitle","tot":"msg"},{"t":"set","p":"payload.viewCount","pt":"msg","to":"video.items[0].statistics.viewCount","tot":"msg"},{"t":"set","p":"payload.likeCount","pt":"msg","to":"video.items[0].statistics.likeCount","tot":"msg"},{"t":"set","p":"payload.dislikeCount","pt":"msg","to":"video.items[0].statistics.dislikeCount","tot":"msg"},{"t":"set","p":"payload.commentCount","pt":"msg","to":"video.items[0].statistics.commentCount","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["d51bc93.50a9138"]]},{"id":"c5fdcd00.7713d","type":"debug","z":"e8b52aa2.b86538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":500,"wires":[]},{"id":"d51bc93.50a9138","type":"function","z":"e8b52aa2.b86538","name":"typeDataChange()","func":"if (msg.payload.publishedAt) {\n    msg.payload.publishedAt = new Date(msg.payload.publishedAt);\n}\n\nif (msg.payload.viewCount) {\n    msg.payload.viewCount = parseInt(msg.payload.viewCount);\n}\n\nif (msg.payload.likeCount) {\n    msg.payload.likeCount = parseInt(msg.payload.likeCount);\n}\n\nif (msg.payload.dislikeCount) {\n    msg.payload.dislikeCount = parseInt(msg.payload.dislikeCount);\n}\n\nif (msg.payload.commentCount) {\n    msg.payload.commentCount = parseInt(msg.payload.commentCount);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["c461c9f1.2bd3f8"]]},{"id":"e406b6d4.593938","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":310,"y":920,"wires":[["f749fed3.2b1c3"]]},{"id":"1eec9e20.50d192","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["81b0fb8e.037cf8"]]},{"id":"f749fed3.2b1c3","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":490,"y":920,"wires":[["1ef8fe50.684ce2"]]},{"id":"fa09e141.b1fba","type":"switch","z":"e8b52aa2.b86538","name":"","property":"nextPageToken","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1220,"wires":[[],["994300bb.28db3"]]},{"id":"1ef8fe50.684ce2","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"nextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":920,"wires":[["7eda63a0.70351c"]]},{"id":"ae02594e.d33d88","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":870,"y":1360,"wires":[["f749fed3.2b1c3"]]},{"id":"994300bb.28db3","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadPageUrl()","func":"const pageToken = msg.nextPageToken;\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults + \"&key=\" + msg.commentThread.key + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1360,"wires":[["ae02594e.d33d88"]]},{"id":"ca2fed6d.10723","type":"sentiment","z":"e8b52aa2.b86538","name":"","property":"payload","x":1340,"y":840,"wires":[["9d9df252.b53f2"]]},{"id":"9b2e334b.8dbfb","type":"switch","z":"e8b52aa2.b86538","name":"","property":"payload.snippet.totalReplyCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":940,"wires":[["14e161ca.d8933e"]]},{"id":"7eda63a0.70351c","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":840,"wires":[["56a5513e.92e2b","ba1aba67.83aa98","61a37e2.e1d048"]]},{"id":"56a5513e.92e2b","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.topLevelComment.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":840,"wires":[["ca2fed6d.10723"]]},{"id":"14e161ca.d8933e","type":"function","z":"e8b52aa2.b86538","name":"setCommentUrl()","func":"msg.comment = {\n    url: \"https://www.googleapis.com/youtube/v3/comments\",\n    videoId : msg.commentThread.videoId,\n    key: msg.commentThread.key,\n    maxResults: \"100\",\n    part: \"snippet\",\n    parentId: msg.parentId\n};\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId + \"&key=\" + msg.comment.key;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1330,"y":940,"wires":[["634f4390.97361c","e3d971ee.2b1d9"]]},{"id":"634f4390.97361c","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1370,"y":1040,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"3b4b2ceb.3c81d4","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":1590,"y":1040,"wires":[["29011705.7f2be8","7e43e45.e151b1c"]]},{"id":"29011705.7f2be8","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"commentNextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":1040,"wires":[["b1ce9ebf.6bb77","9b92489b.62f2b8"]]},{"id":"8e16c32e.d4ab","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2310,"y":1040,"wires":[]},{"id":"ba1aba67.83aa98","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":760,"wires":[]},{"id":"81b0fb8e.037cf8","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadsUrl()","func":"msg.commentThread = {\n    url: \"https://www.googleapis.com/youtube/v3/commentThreads\",\n    videoId: \"CMcgJt2pbYQ\",\n    key: \"AIzaSyDvhYY38598T924njFzcwYjNwfenDYkUYI\",\n    maxResults: \"1\",\n    part: \"snippet%2Creplies\",\n}\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults + \"&key=\" + msg.commentThread.key;\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1000,"wires":[["e406b6d4.593938","828b62fe.ec36d"]]},{"id":"e3d971ee.2b1d9","type":"debug","z":"e8b52aa2.b86538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1750,"y":940,"wires":[]},{"id":"b1ce9ebf.6bb77","type":"switch","z":"e8b52aa2.b86538","name":"","property":"commentNextPageToken","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":2050,"y":1040,"wires":[["7b84f1dc.3e3ee"],["8e16c32e.d4ab"]]},{"id":"7b84f1dc.3e3ee","type":"function","z":"e8b52aa2.b86538","name":"setCommentPageUrl()","func":"const pageToken = msg.commentNextPageToken;\n\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId + \"&key=\" + msg.comment.key + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1380,"wires":[["69322a6c.91c3f4"]]},{"id":"69322a6c.91c3f4","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1910,"y":1380,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"468b4e4e.1a336","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2290,"y":740,"wires":[]},{"id":"9d9df252.b53f2","type":"function","z":"e8b52aa2.b86538","name":"countMood()","func":"var counter=global.get('counter') || 0;\nglobal.set(\"counter\", counter + 1);\n\nmsg.counter = global.get('counter');\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":800,"wires":[["468b4e4e.1a336"]]},{"id":"9b92489b.62f2b8","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2010,"y":940,"wires":[["3d6eeab1.00bca6"]]},{"id":"3d6eeab1.00bca6","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":920,"wires":[["ca2fed6d.10723"]]},{"id":"7e43e45.e151b1c","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2470,"y":1280,"wires":[]},{"id":"61a37e2.e1d048","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"parentId","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":940,"wires":[["9b2e334b.8dbfb","6050bdc.f5e4944"]]},{"id":"a80d5f79.b643b","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":450,"y":1500,"wires":[["7345e12b.c1f7a"]]},{"id":"57d62033.0c82c","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":1500,"wires":[["37acb112.12d8ee"]]},{"id":"b1092c9d.f34f2","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":1440,"wires":[]},{"id":"7345e12b.c1f7a","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":630,"y":1500,"wires":[["459523d0.3b765c","b1092c9d.f34f2"]]},{"id":"37acb112.12d8ee","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.search = {\n    url: \"https://www.googleapis.com/youtube/v3/search\",\n    channelId: \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n    key: \"AIzaSyDvhYY38598T924njFzcwYjNwfenDYkUYI\",\n    maxResults: \"50\",\n    part: \"snippet\",\n    publishedAfter: \"2018-01-01T00%3A00%3A00Z\",\n    type: \"video\"\n}\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults + \"&key=\" + msg.search.key;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":1500,"wires":[["a80d5f79.b643b"]]},{"id":"459523d0.3b765c","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"nextChannelPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1500,"wires":[["8b040049.b0d2e"]]},{"id":"8b040049.b0d2e","type":"switch","z":"e8b52aa2.b86538","name":"","property":"nextChannelPageToken","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":1170,"y":1600,"wires":[[],["a62cb9d8.1d38f8"]]},{"id":"e82d47c6.59ede8","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1050,"y":1740,"wires":[["7345e12b.c1f7a"]]},{"id":"a62cb9d8.1d38f8","type":"function","z":"e8b52aa2.b86538","name":"","func":"const pageToken = msg.nextChannelPageToken;\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults + \"&key=\" + msg.search.key + \"&pageToken=\" + pageToken;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":1740,"wires":[["e82d47c6.59ede8"]]},{"id":"6050bdc.f5e4944","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parentId","targetType":"msg","x":1260,"y":1120,"wires":[]},{"id":"828b62fe.ec36d","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":1160,"wires":[]},{"id":"b04ec2d1.5e113","type":"function","z":"e8b52aa2.b86538","name":"setChannelUrl()","func":"msg.channel = {\n    url: \"https://www.googleapis.com/youtube/v3/channels\",\n    id: \"UC_x5XG1OV2P6uZZ5FSM9Ttw\",\n    key: \"AIzaSyDvhYY38598T924njFzcwYjNwfenDYkUYI\",\n    part: \"snippet%2Cstatistics\",\n}\n\nmsg.url = msg.channel.url + \"?part=\" + msg.channel.part + \"&id=\" + msg.channel.id + \"&key=\" + msg.channel.key;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["4cc5deff.c20cf"]]},{"id":"dc2a90fd.e1b3c","type":"amqp in","z":"e8b52aa2.b86538","name":"","topic":"","iotype":"4","ioname":"channel","server":"45dcbdbc.f0a7c4","x":100,"y":1880,"wires":[["3f21561e.489a3a"]]},{"id":"3f21561e.489a3a","type":"debug","z":"e8b52aa2.b86538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":1880,"wires":[]}]