performer_flow.json
[{"id":"e8b52aa2.b86538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7b5ab72.270f38","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"45dcbdbc.f0a7c4","type":"amqp-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"9d96c70c.1032f8","type":"amqp2-server","z":"","host":"84.201.153.148","port":"23199","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true},{"id":"4cc5deff.c20cf","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":970,"y":300,"wires":[["5c991eb8.58c59"]]},{"id":"5c991eb8.58c59","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":300,"wires":[["a9e14131.90ca4"]]},{"id":"aa3431f2.c7285","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"channels","operation":"update","upsert":false,"multi":false,"x":1760,"y":300,"wires":[["37acb112.12d8ee"]]},{"id":"a9e14131.90ca4","type":"function","z":"e8b52aa2.b86538","name":"typeDataChange()","func":"let channelInfo = msg.payload.items[0];\nlet snippet = channelInfo.snippet;\n\nconst update = {};\n\nupdate.title = snippet.title;\nupdate.thumbnail = snippet.thumbnails.medium.url;\n\nlet statistics = channelInfo.statistics;\n\nupdate.subscriberCount = parseInt(statistics.subscriberCount);\nupdate.videoCount = parseInt(statistics.videoCount);\n\nmsg.query = { _id: msg.channelInfo._id };\nmsg.payload = {\n   '$set': update \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":300,"wires":[["9d525860.64c628"]]},{"id":"e406b6d4.593938","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":2130,"y":520,"wires":[["f749fed3.2b1c3"]]},{"id":"f749fed3.2b1c3","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":2470,"y":560,"wires":[["1ef8fe50.684ce2"]]},{"id":"fa09e141.b1fba","type":"switch","z":"e8b52aa2.b86538","name":"","property":"nextPageToken","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":2830,"y":740,"wires":[[],["994300bb.28db3"]]},{"id":"1ef8fe50.684ce2","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"nextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":600,"wires":[["7eda63a0.70351c","fa09e141.b1fba"]]},{"id":"ae02594e.d33d88","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":2330,"y":720,"wires":[["f749fed3.2b1c3"]]},{"id":"994300bb.28db3","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadPageUrl()","func":"const pageToken = msg.nextPageToken;\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":2610,"y":960,"wires":[["ae02594e.d33d88"]]},{"id":"ca2fed6d.10723","type":"sentiment","z":"e8b52aa2.b86538","name":"","property":"payload","x":3680,"y":600,"wires":[["9d9df252.b53f2"]]},{"id":"9b2e334b.8dbfb","type":"switch","z":"e8b52aa2.b86538","name":"","property":"payload.snippet.totalReplyCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3510,"y":700,"wires":[["14e161ca.d8933e"]]},{"id":"7eda63a0.70351c","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3050,"y":600,"wires":[["56a5513e.92e2b","ba1aba67.83aa98","61a37e2.e1d048"]]},{"id":"56a5513e.92e2b","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.topLevelComment.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3360,"y":600,"wires":[["ca2fed6d.10723"]]},{"id":"14e161ca.d8933e","type":"function","z":"e8b52aa2.b86538","name":"setCommentUrl()","func":"msg.comment = {\n    url: \"https://www.googleapis.com/youtube/v3/comments\",\n    videoId : msg.commentThread.videoId,\n    key: msg.commentThread.key,\n    maxResults: \"100\",\n    part: \"snippet\",\n    parentId: msg.parentId\n};\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId + \"&key=\" + msg.comment.key;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":3690,"y":700,"wires":[["634f4390.97361c","e3d971ee.2b1d9"]]},{"id":"634f4390.97361c","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":3770,"y":800,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"3b4b2ceb.3c81d4","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":3990,"y":800,"wires":[["29011705.7f2be8","7e43e45.e151b1c"]]},{"id":"29011705.7f2be8","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"commentNextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4220,"y":800,"wires":[["b1ce9ebf.6bb77","9b92489b.62f2b8"]]},{"id":"8e16c32e.d4ab","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4870,"y":800,"wires":[]},{"id":"ba1aba67.83aa98","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3390,"y":520,"wires":[]},{"id":"81b0fb8e.037cf8","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadsUrl()","func":"msg.commentThread = {\n    url: \"https://www.googleapis.com/youtube/v3/commentThreads\",\n    videoId: msg.videos.id,\n    maxResults: \"1\",\n    part: \"snippet%2Creplies\",\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults;\n\nreturn msg;","outputs":1,"noerr":0,"x":1830,"y":520,"wires":[["e406b6d4.593938"]]},{"id":"e3d971ee.2b1d9","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3970,"y":700,"wires":[]},{"id":"b1ce9ebf.6bb77","type":"switch","z":"e8b52aa2.b86538","name":"","property":"commentNextPageToken","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":4470,"y":800,"wires":[["7b84f1dc.3e3ee"],["8e16c32e.d4ab"]]},{"id":"7b84f1dc.3e3ee","type":"function","z":"e8b52aa2.b86538","name":"setCommentPageUrl()","func":"const pageToken = msg.commentNextPageToken;\n\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId + \"&key=\" + msg.comment.key + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":3900,"y":1060,"wires":[["69322a6c.91c3f4"]]},{"id":"69322a6c.91c3f4","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":4150,"y":1060,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"468b4e4e.1a336","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4510,"y":500,"wires":[]},{"id":"9d9df252.b53f2","type":"function","z":"e8b52aa2.b86538","name":"countMood()","func":"var counter=global.get('counter') || 0;\nglobal.set(\"counter\", counter + 1);\n\nmsg.counter = global.get('counter');\n\nreturn msg;","outputs":1,"noerr":0,"x":3850,"y":500,"wires":[["468b4e4e.1a336"]]},{"id":"9b92489b.62f2b8","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":4230,"y":700,"wires":[["3d6eeab1.00bca6"]]},{"id":"3d6eeab1.00bca6","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4460,"y":680,"wires":[["ca2fed6d.10723"]]},{"id":"7e43e45.e151b1c","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4690,"y":1040,"wires":[]},{"id":"61a37e2.e1d048","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"parentId","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3310,"y":700,"wires":[["9b2e334b.8dbfb","6050bdc.f5e4944"]]},{"id":"a80d5f79.b643b","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":2290,"y":300,"wires":[["7345e12b.c1f7a"]]},{"id":"7345e12b.c1f7a","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":2510,"y":300,"wires":[["459523d0.3b765c"]]},{"id":"37acb112.12d8ee","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.search = {\n    url: \"https://www.googleapis.com/youtube/v3/search\",\n    channelId: msg.channelInfo.id,\n    maxResults: \"50\",\n    part: \"snippet\",\n    publishedAfter: msg.channelInfo.period,\n    type: \"video\"\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.channelInfo.access_token}`\n};\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults;\n\nconsole.log(msg.payload.result);\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2030,"y":300,"wires":[["a80d5f79.b643b"]]},{"id":"459523d0.3b765c","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"nextChannelPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":300,"wires":[["45091687.6a3d28"]]},{"id":"8b040049.b0d2e","type":"switch","z":"e8b52aa2.b86538","name":"","property":"nextChannelPageToken","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":3470,"y":300,"wires":[[],["4de1c793.37e208"]]},{"id":"e82d47c6.59ede8","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":3190,"y":100,"wires":[["7345e12b.c1f7a"]]},{"id":"a62cb9d8.1d38f8","type":"function","z":"e8b52aa2.b86538","name":"","func":"const pageToken = msg.nextChannelPageToken;\n\nmsg.url = msg.search.url + \"?part=\" + msg.search.part + \"&channelId=\" + msg.search.channelId + \"&type=\" + msg.search.type + \"&publishedAfter=\"+ msg.search.publishedAfter + \"&maxResults=\" + msg.search.maxResults + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":2950,"y":100,"wires":[["e82d47c6.59ede8"]]},{"id":"6050bdc.f5e4944","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parentId","targetType":"msg","x":3480,"y":880,"wires":[]},{"id":"b04ec2d1.5e113","type":"function","z":"e8b52aa2.b86538","name":"setChannelUrl()","func":"const period = (new Date((new Date()).setDate((new Date()).getDate() - msg.payload.processingTime))).toISOString();\n\nmsg.channelInfo = {\n    _id: msg.payload._id,\n    url: \"https://www.googleapis.com/youtube/v3/channels\",\n    id: msg.payload.channelLink.split('/').reverse()[0],\n    part: \"snippet%2Cstatistics\",\n    period: period,\n    access_token: msg.payload.access_token\n}\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.channelInfo.access_token}`\n};\n\nmsg.url = msg.channelInfo.url + \"?part=\" + msg.channelInfo.part + \"&id=\" + msg.channelInfo.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":300,"wires":[["4cc5deff.c20cf"]]},{"id":"3e473c42.f97d14","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":300,"wires":[["b04ec2d1.5e113"]]},{"id":"98bee93f.5e02a8","type":"amqp2 in","z":"e8b52aa2.b86538","name":"","topic":"","iotype":"4","ioname":"","server":"9d96c70c.1032f8","x":470,"y":300,"wires":[["3e473c42.f97d14"]]},{"id":"8aa4d4e1.ec6e48","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":90,"y":300,"wires":[["92ed46fb.724b58"]]},{"id":"92ed46fb.724b58","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"readFrom","pt":"msg","to":"channel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":300,"wires":[["98bee93f.5e02a8"]]},{"id":"e50a3cb1.02fde","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videos","operation":"insert","upsert":false,"multi":false,"x":3160,"y":300,"wires":[["8b040049.b0d2e"]]},{"id":"9d525860.64c628","type":"function","z":"e8b52aa2.b86538","name":"","func":"console.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":300,"wires":[["aa3431f2.c7285"]]},{"id":"45091687.6a3d28","type":"function","z":"e8b52aa2.b86538","name":"","func":"let insert = [];\n\nconsole.log(msg.payload);\n\nfor (let pl of msg.payload) {\n    let item = {};\n    let snippet = pl.snippet;\n\n    item.videoId = pl.id.videoId;\n    item.title = snippet.title;\n    item.thumbnail = snippet.thumbnails.medium.url;\n    item.channelId = msg.channelInfo._id;\n    item.publishedAt = new Date(snippet.publishedAt);\n\n    insert.push(item);\n}\n\nmsg.payload = insert;\n\nconsole.log(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":2890,"y":300,"wires":[["e50a3cb1.02fde"]]},{"id":"4de1c793.37e208","type":"function","z":"e8b52aa2.b86538","name":"","func":"console.log(msg);\nreturn msg;","outputs":1,"noerr":0,"x":3630,"y":400,"wires":[["a62cb9d8.1d38f8"]]},{"id":"23413f6e.aaf41","type":"function","z":"e8b52aa2.b86538","name":"","func":"console.log(msg.payload);\n\nlet statistics = msg.payload.items[0].statistics;\n\nlet update = {};\n\nupdate.viewCount = parseInt(statistics.viewCount);\nupdate.likeCount = parseInt(statistics.likeCount);\nupdate.dislikeCount = parseInt(statistics.dislikeCount);\nupdate.commentCount = parseInt(statistics.commentCount);\n\nmsg.query = {\n    _id: msg.videos._id\n};\n\nmsg.payload = {\n    '$set': update\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["4163f58a.66184c"]]},{"id":"9a4e3c5c.91c59","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.videos = {\n    _id: msg.payload._id,\n    url: \"https://www.googleapis.com/youtube/v3/videos\",\n    id: msg.payload.videoId,\n    part: \"statistics\",\n    access_token: msg.payload.access_token\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.videos.url + \"?part=\" + msg.videos.part + \"&id=\" + msg.videos.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["e1def6f.1744008"]]},{"id":"e1def6f.1744008","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":910,"y":520,"wires":[["382e7092.a19b4"]]},{"id":"4163f58a.66184c","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videos","operation":"update","upsert":false,"multi":false,"x":1480,"y":520,"wires":[["81b0fb8e.037cf8"]]},{"id":"7fb8d1bd.539ac","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":590,"y":520,"wires":[["9a4e3c5c.91c59"]]},{"id":"5fd68c0d.479a54","type":"amqp2 in","z":"e8b52aa2.b86538","name":"","topic":"","iotype":"4","ioname":"","server":"9d96c70c.1032f8","x":450,"y":520,"wires":[["7fb8d1bd.539ac"]]},{"id":"e2cb6985.677cb8","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":70,"y":520,"wires":[["7858858b.1224dc"]]},{"id":"7858858b.1224dc","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"readFrom","pt":"msg","to":"video","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":520,"wires":[["5fd68c0d.479a54"]]},{"id":"382e7092.a19b4","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":1070,"y":520,"wires":[["23413f6e.aaf41"]]}]