performer_flow.json
[{"id":"e8b52aa2.b86538","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d7b5ab72.270f38","type":"mongodb-config","z":"","hostname":"84.201.138.180","port":"18334","db":"promodb","name":""},{"id":"e406b6d4.593938","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1770,"y":520,"wires":[["f749fed3.2b1c3"]]},{"id":"f749fed3.2b1c3","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":2130,"y":520,"wires":[["1ef8fe50.684ce2","f1edb724.ffdb18"]]},{"id":"fa09e141.b1fba","type":"switch","z":"e8b52aa2.b86538","name":"","property":"nextPageToken","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":2890,"y":720,"wires":[[],["994300bb.28db3"]]},{"id":"1ef8fe50.684ce2","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"nextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":600,"wires":[["7eda63a0.70351c","fa09e141.b1fba"]]},{"id":"ae02594e.d33d88","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":2330,"y":720,"wires":[["f749fed3.2b1c3"]]},{"id":"994300bb.28db3","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadPageUrl()","func":"const pageToken = msg.nextPageToken;\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":2610,"y":960,"wires":[["ae02594e.d33d88"]]},{"id":"9b2e334b.8dbfb","type":"switch","z":"e8b52aa2.b86538","name":"","property":"payload.snippet.totalReplyCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3510,"y":700,"wires":[["14e161ca.d8933e"]]},{"id":"7eda63a0.70351c","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3050,"y":600,"wires":[["56a5513e.92e2b","ba1aba67.83aa98","61a37e2.e1d048"]]},{"id":"56a5513e.92e2b","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.topLevelComment.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3360,"y":600,"wires":[["2c5f6367.4f998c"]]},{"id":"14e161ca.d8933e","type":"function","z":"e8b52aa2.b86538","name":"setCommentUrl()","func":"msg.comment = {\n    url: \"https://www.googleapis.com/youtube/v3/comments\",\n    videoId : msg.commentThread.videoId,\n    maxResults: \"100\",\n    part: \"snippet\",\n    parentId: msg.parentId\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":3690,"y":700,"wires":[["634f4390.97361c","e3d971ee.2b1d9"]]},{"id":"634f4390.97361c","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":3770,"y":800,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"3b4b2ceb.3c81d4","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"","pretty":false,"x":3990,"y":800,"wires":[["29011705.7f2be8","7e43e45.e151b1c"]]},{"id":"29011705.7f2be8","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"commentNextPageToken","pt":"msg","to":"payload.nextPageToken","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.items","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4220,"y":800,"wires":[["b1ce9ebf.6bb77","9b92489b.62f2b8"]]},{"id":"ba1aba67.83aa98","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3390,"y":520,"wires":[]},{"id":"81b0fb8e.037cf8","type":"function","z":"e8b52aa2.b86538","name":"setCommentThreadsUrl()","func":"msg.commentThread = {\n    url: \"https://www.googleapis.com/youtube/v3/commentThreads\",\n    videoId: msg.videos.id,\n    maxResults: \"100\",\n    part: \"snippet%2Creplies\",\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.commentThread.url + \"?part=\" + msg.commentThread.part + \"&videoId=\" + msg.commentThread.videoId + \"&maxResults=\" + msg.commentThread.maxResults;\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":520,"wires":[["e406b6d4.593938"]]},{"id":"e3d971ee.2b1d9","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3970,"y":700,"wires":[]},{"id":"b1ce9ebf.6bb77","type":"switch","z":"e8b52aa2.b86538","name":"","property":"commentNextPageToken","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":4470,"y":800,"wires":[["7b84f1dc.3e3ee"],[]]},{"id":"7b84f1dc.3e3ee","type":"function","z":"e8b52aa2.b86538","name":"setCommentPageUrl()","func":"const pageToken = msg.commentNextPageToken;\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.comment.url + \"?part=\" + msg.comment.part + \"&maxResults=\" + msg.comment.maxResults + \"&parentId=\" + msg.comment.parentId + \"&videoId=\" + msg.comment.videoId + \"&pageToken=\" + pageToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":3900,"y":1060,"wires":[["69322a6c.91c3f4"]]},{"id":"69322a6c.91c3f4","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":4150,"y":1060,"wires":[["3b4b2ceb.3c81d4"]]},{"id":"9d9df252.b53f2","type":"function","z":"e8b52aa2.b86538","name":"countMood()","func":"var counter = flow.get(\"counter\") || 0;\nvar sentimentScore = flow.get(\"sentimentScore\") || 0;\n\nflow.set(\"sentimentScore\", sentimentScore + parseInt(msg.sentiment.score, 10));\nflow.set(\"counter\", counter + 1);\n\nmsg.currentCommentCount = flow.get(\"counter\");\n\nreturn msg;","outputs":1,"noerr":0,"x":3950,"y":540,"wires":[["bc6c02b0.ec7a2"]]},{"id":"9b92489b.62f2b8","type":"split","z":"e8b52aa2.b86538","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":4230,"y":700,"wires":[["3d6eeab1.00bca6"]]},{"id":"3d6eeab1.00bca6","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.snippet.textOriginal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4460,"y":680,"wires":[["2c5f6367.4f998c"]]},{"id":"7e43e45.e151b1c","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4690,"y":1040,"wires":[]},{"id":"61a37e2.e1d048","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"parentId","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3310,"y":700,"wires":[["9b2e334b.8dbfb","6050bdc.f5e4944"]]},{"id":"6050bdc.f5e4944","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parentId","targetType":"msg","x":3480,"y":880,"wires":[]},{"id":"23413f6e.aaf41","type":"function","z":"e8b52aa2.b86538","name":"","func":"let statistics = msg.payload.items[0].statistics;\n\nlet update = {};\n\nupdate.viewCount = parseInt(statistics.viewCount);\nupdate.likeCount = parseInt(statistics.likeCount);\nupdate.dislikeCount = parseInt(statistics.dislikeCount);\nupdate.commentCount = parseInt(statistics.commentCount);\n\nmsg.query = {\n    _id: msg.videos._id\n};\n\nmsg.videos.metricks = update;\n\nmsg.commentCount = update.commentCount;\nmsg.currentCommentCount = 1;\n\nflow.set(\"counter\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":520,"wires":[["a54156e3.fd2ba8","81b0fb8e.037cf8"]]},{"id":"9a4e3c5c.91c59","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.videos = {\n    _id: msg.payload._id,\n    url: \"https://www.googleapis.com/youtube/v3/videos\",\n    id: msg.payload.videoId,\n    part: \"statistics\",\n    access_token: msg.payload.access_token\n};\n\nmsg.headers = {\n    Authorization: `Bearer ${msg.videos.access_token}`\n};\n\nmsg.url = msg.videos.url + \"?part=\" + msg.videos.part + \"&id=\" + msg.videos.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":720,"wires":[["e1def6f.1744008"]]},{"id":"e1def6f.1744008","type":"http request","z":"e8b52aa2.b86538","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":1010,"y":720,"wires":[["382e7092.a19b4"]]},{"id":"7fb8d1bd.539ac","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":690,"y":720,"wires":[["9a4e3c5c.91c59"]]},{"id":"382e7092.a19b4","type":"json","z":"e8b52aa2.b86538","name":"","property":"payload","action":"obj","pretty":false,"x":1170,"y":720,"wires":[["23413f6e.aaf41"]]},{"id":"40f8ccfa.701bc4","type":"inject","z":"e8b52aa2.b86538","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["1f257daf.6f0b22"]]},{"id":"eea4ac0d.41dbb","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videoTasks","operation":"find","upsert":false,"multi":false,"x":250,"y":460,"wires":[["8fe9a426.e265e8"]]},{"id":"1f257daf.6f0b22","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"limit","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["eea4ac0d.41dbb"]]},{"id":"7c7f54e.3bdf2ac","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videoTasks","operation":"delete","upsert":false,"multi":false,"x":310,"y":640,"wires":[["382300d.8393c"]]},{"id":"382300d.8393c","type":"change","z":"e8b52aa2.b86538","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"videoTask","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":540,"wires":[["d77ae7f9.c787e8"]]},{"id":"d77ae7f9.c787e8","type":"switch","z":"e8b52aa2.b86538","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":540,"wires":[["7fb8d1bd.539ac"]]},{"id":"8fe9a426.e265e8","type":"function","z":"e8b52aa2.b86538","name":"","func":"if (msg.payload && msg.payload.length > 0) {\n    msg.taskId = msg.payload[0]._id;\n    msg.videoTask = msg.payload[0].task;   \n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":380,"wires":[["4bbdb19a.e3ed8"]]},{"id":"4bbdb19a.e3ed8","type":"switch","z":"e8b52aa2.b86538","name":"","property":"videoTask","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":380,"wires":[["bbbc5f74.db6ff"]]},{"id":"bbbc5f74.db6ff","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.payload = {\"_id\": msg.taskId};\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["7c7f54e.3bdf2ac"]]},{"id":"f1edb724.ffdb18","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3070,"y":480,"wires":[]},{"id":"2c5f6367.4f998c","type":"mlsentiment","z":"e8b52aa2.b86538","name":"","property":"payload","lang":"ru","x":3670,"y":560,"wires":[["9d9df252.b53f2","f25b3b21.f14228"]]},{"id":"dc538e25.481ec","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.query = {\n    _id: msg.videos._id\n};\n\nmsg.payload = {};\n\n// msg.payload.lastParseDate = new Date(),\nmsg.payload.$push = {\n    metricks: \n    {\n        ...msg.videos.metricks,\n        updateDate: new Date(),\n        sentimnetScore: flow.get(\"sentimentScore\")\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4230,"y":540,"wires":[["d87b6cff.8364b","563bad27.b55db4"]]},{"id":"d87b6cff.8364b","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videos","operation":"update","upsert":true,"multi":false,"x":4520,"y":420,"wires":[["8b434627.2cd1d8"]]},{"id":"f25b3b21.f14228","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment","targetType":"msg","x":4110,"y":400,"wires":[]},{"id":"a54156e3.fd2ba8","type":"debug","z":"e8b52aa2.b86538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1500,"y":420,"wires":[]},{"id":"563bad27.b55db4","type":"debug","z":"e8b52aa2.b86538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4390,"y":340,"wires":[]},{"id":"bc6c02b0.ec7a2","type":"switch","z":"e8b52aa2.b86538","name":"","property":"currentCommentCount","propertyType":"msg","rules":[{"t":"gte","v":"commentCount","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":4110,"y":540,"wires":[["dc538e25.481ec"]]},{"id":"8b434627.2cd1d8","type":"function","z":"e8b52aa2.b86538","name":"","func":"msg.query = {\n    _id: msg.videos._id\n};\n\nmsg.payload = {};\n\nmsg.payload = {\n    $set: {\n        lastParseDate: new Date()\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":4670,"y":520,"wires":[["ef135008.13f6d"]]},{"id":"ef135008.13f6d","type":"mongodb-node","z":"e8b52aa2.b86538","mongodb":"d7b5ab72.270f38","name":"","collection":"videos","operation":"update","upsert":true,"multi":false,"x":4820,"y":600,"wires":[[]]}]